body{
    margin: 0;
    padding: 0;
    background-color: #010101
}
.carrousel{
    margin-top: 0px;
    text-align: center;
    
}
img{
    width: 100%;
    height: 100%;
}


/*BOTON NO_CLAVE*/
.box{
    display: inline-block;
    width: 100px;
    height: 100px;

}
.no_clave{
    position: absolute;
    top: 18px;
    left: 45px;
    font-size: 37px;
    color: transparent;
}

/*
width: 1152px;
height: 864px;
*/