body{
    margin: 0;
    padding: 0;
    background-color: #1B0056;
}

figcaption {
    display:none; 
    transition: all .5s;
  }
/*BOTON CERRAR*/
.x{
    margin-top: 121px;
    margin-left: 1040px;
    position: absolute;
    color: #ffffff;
}
.serrar{
    width: 46px;
    height: 21PX;
    border-radius: 3px 3px;
    background-color: #DF7E6E;
    color: #e3e4e4;
    border: 6px 3px;
}
/*BOTON SIGUIENTE*/

a{
    margin-top: 615px;
    margin-left: 988.5px;
    position: absolute;
}
button{
    width: 82px;
    height: 24PX;

}

img{
    width: 1152px;
    height: 864px;
    margin-top: 0px;
    margin-left: 160px;
    margin-right: 150px;

}

