

body{
    margin: 0;
    padding: 0;
    background-color: #180252;
}
/*BOTON SIGUIENTE*/
.x{
    margin-top: 248px;
    margin-left: 1071px;
    position: absolute;
    color: #ffffff;
}
.install{
    margin-top: 481px;
    margin-left: 695px;
    position: absolute;
    background-color: #A4BDDB;
    color: rgb(255, 255, 255);
}
figcaption {
    display:none; 
    transition: all .5s;
  }
.serrar{
    width: 37px;
    height: 21PX;
    border-radius: 3px 3px;
    background-color: #DF7E6E;
    color: #e3e4e4;
    border: 6px 3px;
}
button{
    width: 150px;
    height: 44PX;
    border-radius: 3px 3px;
    background-color: #190056;
    color: #fffefe;
}

img{
    width: 1152px;
    height: 864px;
    margin-top: 0px;
    margin-left: 160px;
    margin-right: 150px;
}


#something {
    display: none;
  }
  
  #something:target {
    display: block;
  }